:root {
  --background: #b4b5be;
  /* --background: #ffffff; */
  --foreground: #04243b;
  /* --foreground: #171717; */
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
    --foreground: #b4b5be;

    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.button button {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

button.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

button.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  button.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  button.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer button:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.maxh-500 {
  max-height: 500px;
  overflow-y: auto;
}
